/* VARIABLES */
:root{
    --main-bg-color: #E5E0DA;
    --division-section-color: #dadada;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--main-bg-color); */
}

a{
    text-decoration: none;
}

.carousel h1{
    color: #E5E0DA;
}

.carousel p{
    color:#E5E0DA;
}

p, h1, h2, h3{
    color: #262626
}

.navbar{
    font-weight: 700;
    background-color: #f5f5f5;
}

.museum-logo{
    padding-left: 10px;
}

.nav-link{
    color: #262626;
}

h1{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    /*font-family: joost, sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 2px;*/
    
}

h2,h3{
    font-weight: 700;
}

h2{
    padding-bottom: 10px;
}

.h2-underline{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.card{
    border: 1px solid #262626;
    border-radius: 0;
}

/* BUTTONS */
.btn{
    font-weight: 700;
    border-radius: 0;
}

.btn-blue{
    color: white;
    background-color: #21468D;
}

.btn-red{
    color: white;
    background-color: #be1e2d;
}

.btn-yellow{
    color: black;
    background-color: #ffde17;
}

.btn-black{
    color: white;
    background-color: #262626;
}

.btn-blue:hover{
    background-color: #1c3c77;
    color: white;
}

.btn-red:hover{
    background-color: #ab1c2a;
    color: white;
}

.btn-yellow:hover{
    background-color: #f1d017;
}

.btn-black:hover{
    background-color: rgb(31, 31, 31);
    color: white;
}

/* ICONS */

.bi {
    font-size: 1.65rem;
}

@media screen and (min-width: 768px) {
    .bi {
        font-size: 1.735rem;
    }
}

@media screen and (min-width: 992px) {
    .bi {
        font-size: 2rem;
    }
}

/* NAVBAR */

header .navbar-nav .nav-link{
    font-size: 1rem;
}

header .navbar-nav .nav-link:hover{
    color: #262626;
}

@media screen and (min-width: 992px){
    header .navbar-nav .nav-link{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1200px){
    header .navbar-nav .nav-link{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 992px){
    header .navbar-nav .nav-link:hover{
        color: #262626;
        text-decoration-line: underline;
        text-underline-offset: 20px;
        text-decoration-color: #be1e2d;
        text-decoration-thickness: 5px;
    }
}

/* MUSEUM LOGO */

.museum-logo {
    width: 125px;
}

@media screen and (min-width: 768px) {
    .museum-logo {
        width: 150px;
    }
}
@media screen and (min-width: 992px) {
    .museum-logo {
        width: auto;
    }
}

/* CAROUSEL HOME */

#carouselHome .carousel-caption {
    position: absolute;
    right: 30%;
    left: 6%;
    padding-bottom: 6.25rem;
}

@media screen and (min-width: 768px){
    #carouselHome .carousel-caption {
        right: 30%;
        left: 6%;
        bottom: 20%;
    }
}

@media screen and (min-width: 992px){
    #carouselHome .carousel-caption {
        left: 3%;
        right: 60%;
    }
}

/* MAIN EVENT */
#intro-event{
    margin: 50px 0;
}

#intro-event h2 span{
    color: #21468D;
}

.card-border-title{
    border-top: 2px solid var(--division-section-color);
    border-bottom: 2px solid var(--division-section-color);
}

/* CONTENT */
#content{
    margin: 50px 0;
}

.numbering{
    color: white;
    background-color: #be1e2d;
    padding: 10px 30px 10px 30px;
    font-size: 24px;
    box-shadow: 5px 5px 0px 0px #262626;
}

@media screen and (min-width: 992px) {
    .numbering{
        padding: 15px 30px 15px 30px;
        font-size: 30px;
    }
}

/* ARTWORK */
#artwork{
    margin: 50px 0;
}

#artwork .card-artwork1{
    border-bottom: 15px solid #21468D;
}

#artwork .card-artwork2{
    border-bottom: 15px solid #be1e2d;
}

#artwork .card-artwork3{
    border-bottom: 15px solid #f1d017;
}

#artwork .card-artwork4{
    border-bottom: 15px solid #262626;
}

/* EVENT */
#event{
    margin: 50px 0;
}

#event .card{
    border: 0;
}

/* PROMO */
#promo{
    margin-bottom: 50px;
}

.card-promo{
    border-top: 10px solid #262626;
    margin-bottom: 25px;
}

/* PRICING */
#pricing{
    border-bottom: 1px solid #262626; 
}

.card-header{
    background: none;
}

.card-pricing-title{
    border-bottom: 1px solid #262626;
}

/* FOOTER */
.newsletter{
    border: 1px solid #262626;
}

.newsletter-email{
    border: 1px solid #262626;
    border-radius: 0;
}

@media screen and (min-width: 992px){
    .margin_class{
        margin-left: -12px; 
        margin-right: 10px;
    }
}
